.box1{
    width: 45%;
    margin: auto;
}

.box1.box1_1{
    width: 45%;
    margin: auto;
}
.box1_1 {
    width: 100%;
    font-size: 15px;
}
.box1_11 {
    width: 100%;
    font-size: 30px;
}


.row{
    display:flex ;
    flex-wrap: wrap;
}
.box2{
    width: 30%;
    margin: auto;
    background-color: aliceblue;
}
.box3_3{
    width: 45%;
    margin: auto;
}
.box4{
    width: 30%;
    background-color: rgb(255, 255, 255);
}
.box44{
    width: 70%;
    background-color: rgb(254, 254, 254);
}
.box44.box4_1{
    width: 45%;
    margin: auto;
}

.box4_1.img{
    width: 30%;

}

.box1 {
    display: flex;
 
}

.box1_1, .box1_11 {
    flex: 1;
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.box1 img {
    width: 50%;
    height: auto;
}
.h1{
    font-size: 30px;
}


 
